<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      href="{{ url_for('static', filename='css/continuar_dcp.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <title>Novo DCP</title>
  </head>
  <body class="text-center">
    <main>
      <a
        href="{{ url_for('index') }}"
        id="voltarButton"
        class="btn btn-primary btn-block"
        >&#60; Voltar</a
      >
      <h1 id="title" class="text-center">Continuar DCP</h1>
    </main>
  </body>
</html>
