<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tela Principal</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      type="text/css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
  </head>
  <body class="text-center">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/TechnipFMC_logo.svg/2560px-TechnipFMC_logo.svg.png"
      id="logo"
      alt="logo"
    />
    <main class="container w-100 m-auto">
      <h1 class="text-center">Gerador de Documentos</h1>
      <h3 class="text-center">Subtítulo, não deu pra ler</h3>
      <br /><br />
      <div id="controls" class="row">
        <div id="control-itens">
          <a href="#" id="createDCPButton" class="btn btn-primary btn-block"
            >Criar DCP</a
          >
          <br />
          <a
            href="{{ url_for('criar_swi') }}"
            id="createSWIButton"
            class="btn btn-primary btn-block"
            >Criar SWI</a
          >
        </div>
        <div id="newDCPButton" style="display: none">
          <a
            href="{{ url_for('novo_dcp') }}"
            class="btn btn-primary btn-default btn-block"
            >Novo DCP</a
          >
          <a
            href="{{ url_for('continuar_dcp') }}"
            class="btn btn-primary btn-default btn-block"
            >Continuar DCP</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
